body {
  margin: 0 auto;
  font-family: 'Lato', sans-serif;
  background-color: #334d5c;
}
#top {
  margin-left: 70%;
  margin-top: 1.5em;
  height: 2.5em;
  display:flex;
  justify-content: space-around;
  color: #65727a;
}

.recherche {
  width: 100%;
  height: 5em;
  background-color: #253b48;
  padding-bottom: 1em;
  margin-top: 5px;
}
#logosearch {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 1.5em;
}
#logosearch img:nth-of-type(1) {
  padding-left: 55%;
  width: 20%;
  height: 5%;
}
#logosearch form {
  padding-left: 20%;
}
#logosearch input {
  border: 1px solid #abadb3;
  border-color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  width: 20em;
  height: 1.5em;
}
#logosearch img:nth-of-type(2) {
  height: 1.5em;
  background-color: #e15848;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

article {
  margin-top: 1em;
  margin-left: 5%;
  max-width: 90%;
}
#articlenav {
  display: flex;
  flex-direction: row;
  height: 3.5em;
  background-color: #71838d;
  margin-right: 1em;
}
#articlenav p:nth-of-type(1) {
    padding-left: 0.5em;
    color : #3ec0be;
}
#articlenav p {
  color: white;
}

.button {
  background-color: #e15848;
  border-radius: 10px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button:nth-of-type(1) {
  margin-left: 35%;
}

.button2 {
  background-color: #334d5c;
  border-radius: 10px;
}
.button3 {background-color: #334d5c;}
.button4 {background-color: #334d5c;}

#contentimg {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
}
#contentimg img {
  width: 32%;
  height: 5%;
  padding-right: 1em;
  padding-top: 1em;
}
#contentimg img:nth-of-type(3) {
  padding-right: 0em;
}
#contentimg img:nth-of-type(6) {
  padding-right: 0em;
}
footer {
  margin-top: 4em;
  width: 100%;
  height: 40em;
  background-color: #253b48;
}
#blocprincipalfooter {
  display: flex;
  max-width: 90%;
  flex-direction: row;
}
#lasttweet {
  padding-top: 4.2em;
  width: 32%;
  display: flex;
  flex-direction: column;
  border-right:  1px solid #65727a;
  height: 35.8em;
  padding-left: 1em;
  padding-right: 5%;
}
#lasttweettitle {
  display: flex;
  flex-direction: row;
  margin-left: 20%;
  color: white;
  background-color: #0c669a;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 80%;
  height: 3.5em;
}
#lasttweettitle p {
  margin-top: 0.8em;
  margin-left: 5%;
}
#lasttweettitle img {
  margin-top: 0.5em;
  margin-left: 1em;
  width: 10%;
  height: 50%;
}
.tweetcontent {
  background-color: #1c4861;
  width: 80%;
  margin-left: 20%;
}
.tweetcontent p {
  color: white;
  margin-left: 0.8em;
}
.tweetcontent p:nth-of-type(2) {
  color: #ca7439;
}
.tweetcontent:nth-of-type(3) {
  margin-top:0.5em; border-bottom-right-radius:15px; border-bottom-left-radius:15px;
}
.tweetcontent p:nth-of-type(4) {
  color: #ca7439;
}
#navfooter {
  justify-content: space-between;
  padding-top: 4.2em;
  width: 32%;
  display: flex;
  flex-direction: row;
  border-right:  1px solid #65727a;
  height: 35.8em;
  padding-left: 1em;
}
#navfooterlink {
}
#navfooterlink p {
  padding-bottom: 1em;
  color: #3c9287;
}
#navfootersitemap {
  color: #65737e;
  direction: rtl;
  padding-right: 1em;
}
#followus {
  padding-top: 4.2em;
  width: 20%;
  display: flex;
  flex-direction: column;
  height: 35.8em;
  padding-left: 1em
}
#followus h4 {
  color : #3a94f5;
}
#socialmedia {
  display: flex;
  flex-direction: row;
}
#fb {
  border-top-left-radius: 15px;
  background-color: #014898;
  width: 5em;
  height: 4em;
}
#fb img {
  padding-top: 1em;
  padding-left: 2em;
}
#fblike {
  margin-top: 20%;
  border-bottom-left-radius: 15px;
  background-color: #064080;
  width: 5em;
  height: 2em;
}
#fblike p {
  padding-top: 0.5em;
  padding-left: 2em;
  color: white;
  font-size: 0.8em;
}
#tweeter {
  background-color: #02a8e2;
  width: 5em;
  height: 4em;
}
#tweeter img {
  padding-top: 1em;
  padding-left: 2em;
}
#tweeterlike {
  margin-top: 20%;
  background-color: #018ebb;
  width: 5em;
  height: 2em;
}
#tweeterlike p {
  padding-top: 0.5em;
  padding-left: 2em;
  color: white;
  font-size: 0.8em;
}
#google {
  border-top-right-radius: 15px;
  background-color: #f50083;
  width: 5em;
  height: 4em;
}
#google img {
  padding-top: 1em;
  padding-left: 2em;
}
#googlelike {
  border-bottom-right-radius: 15px;
  margin-top: 20%;
  background-color: #c1076c;
  width: 5em;
  height: 2em;
  border-bottom: 1px solid;
}
#googlelike p {
  padding-top: 0.5em;
  padding-left: 2em;
  color: white;
  font-size: 0.8em;
}
#about {
  font-size: 1em;
  color: white;
  width: 80%;
  padding-top: 20%;
  display: flex;
  flex-direction: column;
  text-align: left;
}
#about img {
  width: 70%;
  padding: 15px;
  border-top: 1px solid #65727a;
}

nav {
  width: 101%;
  text-align: center;
  z-index: auto;
  margin-bottom: 2em;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
li {
  margin: 0;
  background: #45b29d;
  padding: auto;
}
a {
  display: block;
  padding: 10px 0;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  text-overflow: ellipsis;
  border-right: 1px solid white;
}
a:hover,
a:focus {
  background: #df5a49;
}

nav > ul {
  display: flex;
  width: 100%;
}
nav > ul > li {
  display: table-cell;
  width: 16%;
}
nav > ul li {
  position: relative;
}
nav li ul {
  display: none;
  position: absolute;
}
nav > ul > li > ul {
  top: 100%;
  left: 0;
  right: 0;
}
nav > ul > li li > ul {
  top: 0;
  left: 100%;
}
nav li:hover > ul {
  display: block;
}
nav > ul > li > ul a {
  text-align: left;
  background-color: #e27a3f;
  border: 3px solid #df6353;
  padding: 12px;
  width: 185px;
}

nav > ul > li > ul a:hover {
background-color: #e5e5e5;
color: #df6353;
}
