body {
	text-align:center;
	/*background-color:#EEE8AA;*/
	background-image: url(image/feuille-blanche.jpg);
}

h1 {
	font-family: 'Nothing You Could Do', cursive;
	color:#A52A2A;
}

h3 {
	font-family: 'Nothing You Could Do', cursive;
	color:#A52A2A;
}

#canvas {
	/*border:20px solid #A52A2A;
	border-radius:5px;*/
	margin:0 auto 20px auto;
	display:block;
	background:#darkgrey;
	cursor:pointer;
	background-color: #FFFFF0;
	background-image: url(image/papier-carreaux.gif);
}

#couleurs {
	list-style:none;
	margin:0 0 20px 0;
	padding:0
}
#couleurs li {
	display:inline-block;
}

#couleurs a {
	display:inline-block;
	width:20px;
	height:20px;
	margin-right:10px;
	text-indent:-4000px;
	overflow:hidden;
}

#couleurs a.actif {
	width:20px;
	height:20px
}

#reset {
	margin-right: 445px;
	font-family: 'Nothing You Could Do', cursive;
}

#save{
	font-family: 'Nothing You Could Do', cursive;
}

@keyframes jello {
  11.1% {
    transform: none
  }
  22.2% {
    transform: skewX(-12.5deg) skewY(-12.5deg)
  }
  33.3% {
    transform: skewX(6.25deg) skewY(6.25deg)
  }
  44.4% {
    transform: skewX(-3.125deg) skewY(-3.125deg)
  }
  55.5% {
    transform: skewX(1.5625deg) skewY(1.5625deg)
  }
  66.6% {
    transform: skewX(-0.78125deg) skewY(-0.78125deg)
  }
  77.7% {
    transform: skewX(0.390625deg) skewY(0.390625deg)
  }
  88.8% {
    transform: skewX(-0.1953125deg) skewY(-0.1953125deg)
  }
  100% {
    transform: none
  }
}

.jello {
  animation: jello 3s;
  transform-origin: center;
}

.center {
  display: inline-block;
}
