body{
  background-color: #FFFFFF;
  max-width: 60em;
  margin: 0 auto;
}

.circle.multi-line{
    margin:10px;
    width: 4em;
    font-size: 2em;
    text-align:center;
    border: solid #FF9F24;
    border-radius:10em;
    line-height:1em;
    height:3em;
    padding-top:1em;
    position: absolute;
}
.circle.multi-line a{
  margin-top: 5em;
  text-decoration: none;
  color: #FF9F24;
  font-size: 1em;
}
ul img {
  margin-top: 2.5em;
  margin-left: 2em;
}
ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
li {
  margin-left: 1em;
 float:left;
 }
ul li a {
  margin-top: 3em;
 float:left;
 width:7em;
 color:#888785;
 text-align:center;
 padding:0.3em;
 text-decoration: none;
 font-family: 'Abel', sans-serif;
 font-size: 16px;
 }

 ul li a:hover {
   color: #A2CC01;
 }

 .annonce {
    margin-left: 507px;
    margin-top: -620px;
    color: #A2CC01;
    text-decoration: none;
    font-size: 40px;
    font-family: 'Open Sans Condensed', sans-serif;
 }

.bouteille img {
margin-left: 9.7em;
margin-top:30px;
}

.citrons {
  position: absolute;
  width: 50%;
  margin-left: 20em;
  margin-top: 22em;
}

.bouton a {
display:block;
width:200px;
line-height:45px;
text-align:center;
vertical-align:middle;
background:#A2CC01;
color:white;
text-decoration:none;
font-size: 25px;
}
.bouton a:hover {
background:#CECECE;
}

.circle2.multi-line{
    width:4em;
    height:4em;
    text-align:center;
    background:#E1CE9A;
    border-radius:10em;
    line-height:30px;
    height:3em;
    padding-top:1em;
    color: white;
    z-index: 3;
    position: absolute;
    margin-top: 15em;
    margin-left: 6.3em
}
