body{
  background-color: #FFFFFF;
  max-width: 60em;
  margin: 0 auto;
}

.circle.multi-line{
    margin:10px;
    width: 4em;
    font-size: 2em;
    text-align:center;
    border: solid #FF9F24;
    border-radius:10em;
    line-height:1em;
    height:3em;
    padding-top:1em;
    position: absolute;
}
.circle.multi-line a{
  margin-top: 5em;
  text-decoration: none;
  color: #FF9F24;
  font-size: 1em;
}
ul img {
  margin-top: 2.5em;
  margin-left: 2em;
}
ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
li {
  margin-left: 1em;

 float:left;
 }
ul li a {
  margin-top: 3em;
 float:left;
 width:7em;
 color:#888785;
 text-align:center;
 padding:0.3em;
 text-decoration: none;
 font-family: 'Abel', sans-serif;
 font-size: 16px;
 }

 ul li a:hover {
   color: #A2CC01;
 }
h1 {
  color: #A2CC01;
  font-family: 'Open Sans Condensed', sans-serif;
  padding-top: 3em;
  margin-left: 1.4em;
}

figure {
  display: inline-block;
  align-items: flex-start;
  justify-content: space-between;
}

figcaption {
font-family: 'Open Sans Condensed', sans-serif;
color:#888785;
}
.boutique {
  margin-left: 7.5em;
}

/*.produit2{
  float:left;
  display: flex;
  align-items: baseline;
}

.produit3{
  float:left;
  display: flex;
  align-items: baseline;
}

.produit5{
  float:left;
  display: flex;
  align-items: baseline;
}

.produit6{
  float:left;
  display: flex;
  align-items: baseline;
}

.produit4{
  float:left;
  display: flex;
  align-items: baseline;
}

.produit1{

}
