body{
  background-color: #FFFFFF;
  max-width: 60em;
  margin: 0 auto;
}

.circle.multi-line{
    margin:10px;
    width: 4em;
    font-size: 2em;
    text-align:center;
    border: solid #FF9F24;
    border-radius:10em;
    line-height:1em;
    height:3em;
    padding-top:1em;
    position: absolute;
}
.circle.multi-line a{
  margin-top: 5em;
  text-decoration: none;
  color: #FF9F24;
  font-size: 1em;
}
ul img {
  margin-top: 2.5em;
  margin-left: 2em;
}
ul {
 padding:0;
 margin:0;
 list-style-type:none;
 }
li {
  margin-left: 1em;

 float:left;
 }
ul li a {
  margin-top: 3em;
 float:left;
 width:7em;
 color:#888785;
 text-align:center;
 padding:0.3em;
 text-decoration: none;
 font-family: 'Abel', sans-serif;
 font-size: 16px;
 }

 ul li a:hover {
   color: #A2CC01;
 }
h1{
  color: #A2CC01;
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 50px;
}

span {
  font-family: 'Open Sans Condensed', sans-serif;
  color:#888785;
  font-size: 20px;
}

article {
  max-width: 50em;
  margin: 0 auto;
  padding-top: 15%;
}
article p:nth-of-type(1) {
  font-size: 2.5em;
  color: #bcda58;
}
#image {
  margin-top:8%;
  margin-bottom: 10%;
}
#formlittle {
  float:right;
  display:flex;
  flex-direction: column;
  max-width: 10em;
}
#form {
  float:right;
  display: flex;
  flex-direction:row;
  border: solid #FF9F24;

}
input {
    border: solid #FF9F24;
    color:#888785;
}

#test {
  display:flex;
  flex-direction:row;
}
article button {
    float: right;
}

.bouton a{
  display:block;
  width:90px;
  line-height:45px;
  text-align:center;
  vertical-align:middle;
  background:#FF9F24;
  color:white;
  text-decoration:none;
  font-size: 25px;
  font-family: 'Open Sans Condensed', sans-serif;
  margin-top: 2em;
  margin-left: 10.3em;
  position: absolute;
}
